<%= render "layouts/navigation" %>

<div class="container-fluid bg-b-color">
  <div class="container">
    <h1 class="text-center my-3"><%= title %></h1>
    <%= render "articles/articles", articles: Article.all %>

  </div>
</div>
<%= render "static_pages/support_section" %>

<%= render "static_pages/about_me_section" %>

<%= render "layouts/footer" %>
