<% content_for :jsonld do %>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "<%= article_url(article) %>"
  },
  "headline": "<%= article.title %>",
  "description": "<%= article.seo_description %>",
  "image": "<%= rails_blob_url(article.featured_image) if article.featured_image.attached? %>",
  "author": {
    "@type": "Person",
    "name": "Sandro Räss"
  },
  "datePublished": "<%= article.created_at.strftime("%F") %>",
  "dateModified": "<%= article.updated_at.strftime("%F") %>"
}
</script>
<% end %>

<article id="<%= dom_id article %>" class="article">
  <% if article.featured_image.representable? %>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3"
      </div>
      <%= image_tag article.featured_image, class: "img-fluid"%>
    </div>
  </div>
  <% end %>
  <div class="container-fluid py-2 mt-3 ">
    <div class="container">
      <header class="my-3">
        <h1 class="text-center"><%= article.title %></h1>
        <p class="lead text-center">
          <%= article.sub_title %>
        </p>
      </header>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>

        <small class="text-muted">
          Sandro Räss
           -
          <%= l(article.created_at, format: :short) %>
        </small>
        </p>
        <hr>
        <div class="content">
          <%= raw article.modified_content %>
        </div>
      </div>
    </div>
  </div>


</article>
