<article id="<%= dom_id article %>" class="article">
  <% if article.featured_image.representable? %>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3"
      </div>
      <%= image_tag article.featured_image, class: "img-fluid"%>
    </div>
  <% end %>
  <div class="container-fluid py-2 mt-3">
    <div class="container">
    <header class="my-3">
      <h1 class="text-center"><%= article.title %></h1>
      <p class="tagline text-center">
        <%= article.sub_title %>
      </p>
    </header>
    <p>
      Sandro Räss - <%= l(article.created_at, format: :short) %>
    </p>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content border rounded p-3 bg-soybean-color">
          <%= raw article.content %>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>


</article>
