<%= render "layouts/navigation" %>

<p style="color: green"><%= notice %></p>

<div class="container">
  <h1><%= Article.model_name.human(count: 2) %></h1>

<div id="articles">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @articles.each do |article| %>
    <div class="col">
      <%= render "articles/card", article: article %>
    </div>
    <% end %>
  </div>

</div>

<%= link_to "New article", new_article_path %>
</div>
