<%= render "layouts/navigation" %>

<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class="text-center"><%= Article.model_name.human(count: 2) %></h1>

  <%= render "articles/articles", articles: Article.all %>
</div>

<%= render "layouts/footer" %>
