<%= render "layouts/navigation" %>

<% content_for :canonical do %>
  <link rel="canonical" href="<%= article_url(@article) %>" />
<% end %>

<% content_for :json_ld do %>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "<%= article_url(@article) %>"
  },
  "headline": "<%= @article.title %>",
  "description": "<%= @article.seo_description %>",
  "image": "<%= rails_blob_url(@article.featured_image) if @article.featured_image.attached? %>",
  "author": {
    "@type": "Person",
    "name": "Sandro Räss"
  },
  "datePublished": "<%= @article.created_at.strftime("%F") %>",
  "dateModified": "<%= @article.updated_at.strftime("%F") %>"
}
</script>

<% end %>

<p style="color: green"><%= notice %></p>

<main>
  <% cache @article do %>
    <%= render @article %>
  <% end %>
</main>


<% if policy(@article).edit? %>
<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
<% end %>

<%= render "static_pages/about_me_section" %>


<%= render "layouts/footer" %>
