
<%= simple_form_for(@work_time) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :minutes %>
    <%= f.input :content %>
    <%= f.input :deleted %>
    <%= f.input :globalWorkTimeId %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
