<div id="<%= dom_id work_time %>">
  <p>
    <strong>Minutes:</strong>
    <%= work_time.minutes %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= work_time.content %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= work_time.deleted %>
  </p>

  <p>
    <strong>Globalworktimeid:</strong>
    <%= work_time.globalWorkTimeId %>
  </p>

  <p>
    <%= work_time.created_at %>
  </p>
  <p>
    <%= work_time.updated_at %>
  </p>

</div>
