<!DOCTYPE html>
<html lang="de" class="h-100">
  <head>
    <%= display_meta_tags site: 'Sandro Räss', reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

      <%= yield :json_ld %>

  </head>

  <body class="d-flex flex-column h-100 bg-b-color">
    <%= yield %>
  </body>
</html>
