<!DOCTYPE html>
<html lang="de" class="h-100">
  <head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D3XSEKK6YR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-D3XSEKK6YR');
    </script>

    <%= display_meta_tags site: 'Sandro Räss', reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :canonical %>
    <%= yield :json_ld %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

  </head>

  <body class="d-flex flex-column h-100">
    <%= yield %>
  </body>
</html>
